<nav class="w-full border-gray-200 top-0 left-10 bg-gray-900 rounded-3xl" >
    <div class="flex items-center justify-between p-4 ml-5">
        <a [routerLink]="['']" class="flex space-x-3 rtl:space-x-reverse">
            <img src="../../../../assets/logo.png" class="h-8" alt="Logo de la pagina" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">IcrossGames </span>
        </a>
        <div class="flex-grow md:order-2">
            <input type="text" placeholder="Buscar..." class="bg-gray-800 text-white rounded-full px-4 py-2 w-full" 
                   [(ngModel)]="query" (ngModelChange)="queryChange$.next($event)">
        </div>
    </div>
</nav>